.body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
}
.header-logo-color {
  color: var(--NAVY-BLUE, #2e2f42);
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-menu-address {
  display: flex;
  gap: 40px;
}
.header-address-iteam {
}
.header-address-link {
  color: var(--SLATE, #434455);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-link:hover {
  color: #404bbf;
}
.header-address-link:focus {
  background-color: #404bbf;
}
.hero {
  padding: 188px 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.hero-container {
  background: var(--NAVY-BLUE, #2e2f42);
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  max-width: 496px;
  margin: 0 auto;
}
.hero-order-service {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  display: block;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
}
.hero-order-service:hover,
.hero-order-service:focus {
  background-color: #404bbf;
}

.feature {
  background: #fff;
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
}
.feature-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  max-height: auto;
}

.team {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  min-width: 162px;
  margin: 0 auto 72px;
}

.team-list {
  display: flex;
  background: var(--CLOUD, #f4f4fd);
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.container-team-item {
  padding: 32px 0;
}
.team-iteam {
  background: var(--WHITE, #fff);
  text-align: center;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-subtitre {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-img {
  height: 300px;
  padding-bottom: 32px;
}
.container-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitre {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 16px;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
  height: 312px;
}
.footer-container {
}
.container {
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-color {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  height: 72px;
}
